<div class="my_footer_empresa">
  <a href="{{empresa_link_web}}" target="_blank">
    {{empresa_nombre}}
  </a>
  <span>
    |
  </span>
  <a href="click2call" class="fa fa-phone">
    Informes:
    {{empresa_telefono}}
  </a>
  <span>
    |
  </span>
  <a href="{{empresa_email}}" class="fa fa-envelope">
    Contactenos
  </a>
  <span>
    |
  </span>
  <span class="socialIcons">
    <a href="{{empresa_facebook}}" target="_blank" class="fa fa-facebook"></a>
    <a href="{{empresa_twitter}}" target="_blank" class="fa fa-twitter"></a>
    <a href="{{empresa_linkedin}}" target="_blank" class="fa fa-linkedin"></a>
    <a href="{{empresa_youtube}}" target="_blank" class="fa fa-youtube"></a>
    <a href="{{empresa_instagram}}" target="_blank" class="fa fa-instagram"></a>
  </span>
</div>