<main id={{title}} class="my_main col-12">
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto">
        <h1 class="brand-heading" onclick="getWindowSizes()">
          {{h1}}
        </h1>
        <h3>
          {{h3}}
        </h3>
        <h4>
          {{h4}}
        </h4>
        <p class="intro-text">
          <br />
          <a href={{link_produccion}} target="_blank" class="c-naranja">
            {{produccion}}
          </a>
        </p>
        <a class="btn btn-link btn-circle" role="button" href="/about">
          <i class="fa fa-angle-double-down animated c-naranja"></i>
        </a>
      </div>
    </div>
  </div>
</main>